body
{
    font-family: sans-serif;
    font-size: 12px;
}
div.module {	
    float: left;
    width: 100px;
    margin-bottom: 20px;
    margin-left:20px;
}

div.module div.module-body {
    padding: 20px 10px 20px 10px; float: left; width: 94%;
}
.grid_5 div.module div.module-body  { padding: 10px 20px 10px 10px; float: left; width: 130px; }

div.module h2 {
    /* Sliding right image */
    background: url(../images/module-header-left-bg.gif) no-repeat scroll top left; /* aa main image che .... peli effect wali naam yad nathi enu... glass jevi effect walu che eni image che aa... */
    display: block;
    float: left;
    height: 32px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
    margin-right: 0px;
    padding-right: 0px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
    /* FONT PROPERTIES */
    text-decoration:none;
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    width: 160px;
    margin-bottom: 0;
    letter-spacing: normal
}

div.module h2 span {
    /* Background left image */

    display: block;
    line-height: 20px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
    padding: 7px 0 5px 10px;
    text-align: center

}

/* -------------------- Dashboard -------------------- */

a.dashboard-module,
a.dashboard-module:visited {
    width: 142px;
    height: 142px;
    display: block;
    float: left;
    /*  background: url(../images/dashboard-module.gif) top left no-repeat; */
    margin: 0 8px 8px 0;
    text-align: center;
    color: #444444;
    cursor: crosshair;
}

a.dashboard-module:hover,
a.dashboard-module:active {
    background-position: bottom left;
    text-decoration: none;
    color:#0063be;
}

a.dashboard-module img {
    margin-top: 20px;
}

a.dashboard-module span {
    margin-top: 10px;
    display: block;
}
